In [44]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 99

In [72]:
dfs = pd.read_csv('loans_2007.csv',chunksize=3000)
overall_vc=[]
for df in dfs:
    overall_vc.append(df['emp_title'].value_counts())
combined_vc = pd.concat(overall_vc)
#type(combined_vc.index)
final_vc = combined_vc.groupby(combined_vc.index).sum()
final_vc.describe()

count    30658.000000
mean         1.301748
std          2.118528
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max        139.000000
Name: emp_title, dtype: float64

In [67]:
test = pd.read_csv('loans_2007.csv',nrows=5)
string_cols = test.select_dtypes(include=['object'])
string_cols.describe()

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,last_credit_pull_d,application_type
count,5,5,5,5,3,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
unique,2,5,2,5,3,3,1,3,1,3,1,4,5,5,5,5,5,1,4,3,1
top,36 months,15.96%,C,C4,AIR RESOURCES BOARD,10+ years,RENT,Source Verified,Dec-2011,Fully Paid,n,other,Computer,309xx,AZ,Feb-1996,9.4%,f,Jan-2015,Jun-2016,INDIVIDUAL
freq,3,1,3,1,1,3,5,3,5,3,5,2,1,1,1,1,1,5,2,3,5

In [32]:
dtypes = {
    "term" : "category",
    "grade": "category",
    
}
test['int_rate'] = test['int_rate'].apply(lambda x: x[:-1])

In [47]:
a=test['grade'].unique()
a

array(['B', 'C'], dtype=object)

In [30]:
test['int_rate']

0     10.65%
1     15.27%
2     15.96%
3     13.49%
4     12.69%
Name: int_rate, dtype: object

In [31]:
string_cols.drop()

SyntaxError: invalid syntax (<ipython-input-31-bda044b170b0>, line 1)

In [76]:
loans_chunks = pd.read_csv('loans_2007.csv',chunksize=3000)

uniques = {}
for lc in loans_chunks:
    strings_only = lc.select_dtypes(include=['object'])
    cols = strings_only.columns
    for c in cols:
        val_counts = strings_only[c].value_counts()
        if c in uniques:
            uniques[c].append(val_counts)
        else:
            uniques[c] = [val_counts]

uniques_combined = {}
unique_stats = {
    'column_name': [],
    'total_values': [],
    'unique_values': [],
}
for col in uniques:
    u_concat = pd.concat(uniques[col])
    u_group = u_concat.groupby(u_concat.index).sum()
    uniques_combined[col] = u_group
    if u_group.shape[0] < 50:
        print(col, u_group.shape[0])

term 2
grade 7
sub_grade 35
emp_length 11
home_ownership 5
verification_status 3
loan_status 9
pymnt_plan 2
purpose 14
initial_list_status 1
application_type 1

In [ ]:
str.lstrip()